    <div class="header mt-4 text-center">My tasks</div>
    <div class="right-content">
      <div class="multi-button text-center">
      <%= link_to space_chores_path(space) do %>
        <button><i class="fa-solid fa-bucket"></i> Chores</button>
      <% end %>
      </div>
    </div>
