

<div data-controller="tasks">
  <div class= "content-box m-2">
    <div class= "box-scroll">
      <div>
        <%= render "tasks/form", space: space, task: new_task %>
      </div>
      <ul data-tasks-target="taskList" class="mt-2">
        <% tasks.each do |task| %>
          <%= render "tasks/task_list", task: task %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
