

<div data-controller="tasks">
  <div class= "content-box m-2">
    <div class= "box-scroll">
      <div>
        <%= render "tasks/form", space: space, new_task: new_task %>
      </div>
      <ul data-tasks-target="taskList" class="mt-2">
        <%= render "tasks/task_list", tasks: tasks %>
      </ul>
    </div>
  </div>
</div>
