
<div class="multi-button">
  <button><i class="fa-solid fa-lightbulb"></i> Electricity</button>
  <button><i class="fa-solid fa-trash-can"></i> Waste</button>
  <button><i class="fa-solid fa-phone"></i> Phone</button>
  <button><i class="fa-solid fa-fire"></i>Gas</button>
  <button><i class="fa-solid fa-wifi"></i> Internet</button>
  <button><i class="fa-solid fa-house"></i> Rent</button>
  <button><i class="fa-solid fa-plus"></i> Add</button>
</div>
