

<div class="fa-3x">
  <span style="font-size: 3em; color: Tomato;">
    <i class="fa-thin fa-lightbulb"></i>
  </span>
  <span style="font-size: 3em; color: Dodgerblue;">
    <i class="fa-thin fa-lightbulb"></i>
  </span>
  <span style="font-size: 3em; color: Mediumslateblue;">
    <i class="fa-thin fa-trash-can"></i>
  </span>
  <span style="font-size: 3em; color: Tomato;">
    <i class="fa-thin fa-phone"></i>
  </span>
  <span style="font-size: 3em; color: Tomato;">
    <i class="fa-thin fa-wifi"></i>
  </span>
  <span style="font-size: 3em; color: Tomato;">
    <i class="fa-thin fa-apartment"></i>
  </span>
  <span style="font-size: 3em; color: Tomato;">
      <i class="fa-thin fa-plus"></i>
  </span>
</div>
