<div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="java">Java</h2>
        <p class="java">Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
      </div>
    </div>
    <div class="face face2">
      <h2>01</h2>
    </div>
  </div>

  <div class="card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="python">Python</h2>
        <p class="python">Python is an interpreted, high-level and general-purpose programming language.</p>
      </div>
    </div>
    <div class="face face2">
      <h2>02</h2>
    </div>
  </div>

  <div class="card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="cSharp">C#</h2>
        <p class="cSharp">C# is a general-purpose, multi-paradigm programming language encompassing static typing, strong typing, lexically scoped and component-oriented programming disciplines.</p>
      </div>
    </div>
    <div class="face face2">
      <h2>03</h2>
    </div>
  </div>
</div>
















<div class="body1">
  <div class="content">
        <img src= "https://res.cloudinary.com/dqfnzfthu/image/upload/v1662477541/miki-fath-1v1zjqxldmc-unsplash_ant7hr.jpg" alt="homepage">
        <div class="logo_container bg-secondary">
          <img src= "https://res.cloudinary.com/dqfnzfthu/image/upload/v1662504947/Screen_Shot_2022-09-06_at_5.55.22_PM-removebg-preview_eaifsn.png" class="logo" alt="LOGO.">
        </div>
        <h1>Roomates Colaboration<br>Organize Your Space In One APP</h1>
        <div class="arrow bounce">
        <br>
        <a class="fa fa-arrow-down" href="#"></a>
      </div>
    <section class="button">
      <div class="searchBox">

      <%= render "pages/main_options" %>
      </div>
    </section>
    <section class="social_icons">
      <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="#" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="#" title="Telegram" target="_blank"><i class="fa fa-telegram"></i></a>
    </section>
  </div>
</div>


<br>

<div class="container">
      <div class="gen-infofo">
          <div class="info-sect">
            <h3>Clientes</h3>
            <ul class="list-unstyled">
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="info-sect">
            <h3>Nosotros</h3>
            <ul class="list-unstyled">
              <li><a href="#">Nuestra misión</a></li>
              <li></li>
            </ul>
          </div>
          <div class="info-sect">
            <h3>Más información</h3>
            <ul class="list-unstyled">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>

    </div>
</div>
