<div class="left-content">

  <div class="multi-button d-flex justify-content-end">
    <% if user_signed_in? %>


      <div class="mx-3 multi-button ">
      <%= link_to user_spaces_path(current_user) do %>
        <button><i class="fa-solid fa-building-user"></i> Spaces</button>
      <% end %>
      </div>



      <% else %>

    <% end %>
    </div>
</div>
