<div class="header"><%= space.name %></div>
    <div class="content-categories" data-controller="category">
      <div class="label-wrapper" >
        <input class="nav-item" name="nav" type="radio" id="opt-1" >
        <label class="category" data-action="click->category#clickedCategory" for="opt-1">Tasks</label>
      </div>
      <div class="label-wrapper" >
        <input class="nav-item" name="nav" type="radio" id="opt-2"  checked>
        <label class="category" data-action="click->category#clickedCategory" for="opt-2">Bills</label>
      </div>
      <div class="label-wrapper" >
        <input class="nav-item" name="nav" type="radio"  id="opt-3">
        <label class="category" data-action="click->category#clickedCategory" for="opt-3">Chores</label>
      </div>
      <div class="label-wrapper">
        <input class="nav-item" name="nav" type="radio"  id="opt-4">
        <label class="category" data-action="click->category#clickedCategory" for="opt-4">Expenses</label>
      </div>
      <div class="label-wrapper" >
        <input class="nav-item" name="nav" type="radio"  id="opt-5">
        <label class="category" data-action="click->category#clickedCategory" for="opt-5">Shopping</label>
      </div>
    </div>
