<div class="header">Space</div>
    <div class="content-categories" data-controller="category">
      <div class="label-wrapper" data-action="click->category#clickedCategory">
        <input class="nav-item" name="nav" type="radio" id="opt-1">
        <label class="category" for="opt-1">Tasks</label>
      </div>
      <div class="label-wrapper" data-action="click->category#clickedCategory">
        <input class="nav-item" name="nav" type="radio" id="opt-2" checked>
        <label class="category" for="opt-2">Bills</label>
      </div>
      <div class="label-wrapper" data-action="click->category#clickedCategory">
        <input class="nav-item" name="nav" type="radio" id="opt-3">
        <label class="category" for="opt-3">Chores</label>
      </div>
      <div class="label-wrapper" data-action="click->category#clickedCategory">
        <input class="nav-item" name="nav" type="radio" id="opt-3">
        <label class="category" for="opt-3">Expenses</label>
      </div>
      <div class="label-wrapper" data-action="click->category#clickedCategory">
        <input class="nav-item" name="nav" type="radio" id="opt-4">
        <label class="category" for="opt-4">Shopping list</label>
      </div>
    </div>
