<div class="left-content">
  <% if user_signed_in? %>
    <div class="d-flex justify-content-center">
      <%= link_to user_path(current_user) do %>
        <i class="fa-solid fa-user-group fa-lg mx-3"></i>
      <% end %>
    </div>
    <br>
    <div class="mx-3 d-flex justify-content-center">
      <%= link_to " Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"fa-solid fa-right-from-bracket text-decoration-none link-dark" %>
    </div>
  <% else %>
    <%= link_to" Log in", new_user_session_path, class: "fa-solid fa-right-to-bracket text-decoration-none link-dark d-flex justify-content-center"%>
  <% end %>
</div>
