<div class="task-manager">
  <div class="page-content">
    <div class="header">FullHouse</div>
    <div class="content-categories">
       <%= render "pages/main_options" %>
    </div>
  </div>
</div>
