<div class="task-manager">
  <div class="left-bar">
     <%= render "pages/sidebar" %>
  </div>
  <div class="page-content">
    <div class="header">Today Tasks</div>
    <div class="content-categories">
       <div class="label-wrapper">
        <input class="nav-item" name="nav" type="radio" id="opt-1">
        <label class="category" for="opt-1">Tasks</label>
      </div>
      <div class="label-wrapper">
        <input class="nav-item" name="nav" type="radio" id="opt-2" checked>
        <label class="category" for="opt-2">Bills</label>
      </div>
      <div class="label-wrapper">
        <input class="nav-item" name="nav" type="radio" id="opt-3">
        <label class="category" for="opt-3">Chores</label>
      </div>
      <div class="label-wrapper">
        <input class="nav-item" name="nav" type="radio" id="opt-3">
        <label class="category" for="opt-3">Expenses</label>
      </div>
      <div class="label-wrapper">
        <input class="nav-item" name="nav" type="radio" id="opt-4">
        <label class="category" for="opt-4">Shopping list</label>
      </div>
    </div>
    <%= render "pages/page_content" %>
  </div>
  <div class="right-bar">
    <%= render "pages/my_tasks" %>
  </div>
</div>
