<body>
  <div class="content">
      <div class="logo_container bg-secondary">
        <img src= "https://res.cloudinary.com/dqfnzfthu/image/upload/v1662504947/Screen_Shot_2022-09-06_at_5.55.22_PM-removebg-preview_eaifsn.png" class="logo" alt="LOGO.">
      </div>
      <h1>Roomate Collaboration<br>Organize Your Space In One APP</h1>
      <div class="arrow bounce">
      <br>
      <a class="fa fa-arrow-down" href="#"></a>
    </div>
  <section class="button">
    <div class="searchBox">

     <%= render "pages/main_options" %>
    </div>
  </section>
  <section class="social_icons">
    <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="#" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="#" title="Telegram" target="_blank"><i class="fa fa-telegram"></i></a>
  </section>
</div>
</body>
