<div data-controller="shopping_lists"> <!--name of javascript controller-->
  <div class="header">
    <%= simple_form_for [space, shopping_list], data: { action: "submit->shopping_lists#newElement"} do |f| %>
      <%= f.input :name, data: { todolist_target: "myinput" } %>
      <%= f.submit %>
    <% end %>
  </div>

    <div class="mt-3">
      <ul data-target="todolist.mylist">
        <% shopping_lists.each do |shopping_list| %>
        <li data-action="click->shopping_lists#clickedShopping"><%= shopping_list.name %></li>
        <% end %>
      </ul>
    </div>
</div>
