<div data-controller="shopping-lists">
    <%= simple_form_for [space, shopping_list], data: { action: "submit->shopping-lists#newElement", shopping_lists_target: "form"} do |f| %>
      <%= f.input :name, data: { todolist_target: "listInput" } %>
      <%= f.submit %>
    <% end %>
  </div>

    <div class="mt-3">
      <ul data-target="shoppingList">
        <% shopping_lists.each do |shopping_list| %>
        <li data-action="click->shopping-lists#clickedShopping"><%= shopping_list.name %></li>
        <% end %>
      </ul>
    </div>
</div>
