.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.add-button{
  float: left !important;
  color: blueviolet;
  font-size: large;
}

.add-button:hover {
  color: white;
  background-color: #753BBD;
}
