
<div class=“fa-3x”>
  <span style=“font-size: 3em; color: Tomato;“>
    <i class="fa-solid fa-bath"></i>
  </span>
  <span style=“font-size: 3em; color: Dodgerblue;“>
    <i class="fa-solid fa-plate-utensils"></i>
  </span>
  <span style=“font-size: 3em; color: Mediumslateblue;“>
    <i class="fa-solid fa-broom"></i>
  </span>
  <span style=“font-size: 3em; color: Tomato;“>
    <i class="fa-solid fa-kitchen-set"></i>
  </span>
  <span style=“font-size: 3em; color: Tomato;“>
    <i class="fa-solid fa-trash"></i>
  </span>
  <span style=“font-size: 3em; color: Tomato;“>
    <i class="fa-solid fa-washing-machine"></i>
  </span>
  <span style=“font-size: 3em; color: Tomato;“>
      <i class="fa-regular fa-ellipsis"></i>
  </span>
</div>
