<div class="multi-button">
  <button><i class="fa-solid fa-toilet"></i> Bathroom</button>
  <button><i class="fa-solid fa-utensils"></i> Dishes</button>
  <button><i class="fa-solid fa-broom"></i>Sweep</button>
  <button><i class="fa-solid fa-kitchen-set"></i> Kitchen</button>
  <button><i class="fa-solid fa-trash-can"></i> Trash</button>
  <button><i class="fa-solid fa-washing-machine"></i> Washer</button> <!--icon is not displaying for some reason-->
</div>
