
 <div class="chores-wrapper bg-white p-5 h-100">
      <h2 class="header text-center">Your chores</h2>
      <div class="multi-button mt-3 upcoming text-center">
        <div class="multi-button">
            <%= link_to user_space_path(current_user ,@space) do %>
              <button><i class="fa-sharp fa-solid fa-rotate-left"></i> Back to space</button>
            <% end %>
          </div>
      </div>
      <% @chores.each do |chore| %>
        <div class="task-box blue">
          <div class="description-task">
            <div class="time">due date <%= chore.due_date %></div>
            <div class="task-name"><%= chore.name %></div>
            <div class="task-description"><%= chore.description %></div>
          </div>
        </div>
      <% end %>
</div>
